h1 {
    font-family: Raleway;
}

p {
    font-family: Raleway;
}

h2 {
    font-family: Raleway;
}

ul {
    border-bottom: 2px solid #B30000;
    border-top: 3px solid #B30000;
    overflow: hidden
}

li {
    float: left;
    color:gray;
    text-decoration: none;
    list-style-type: none;
}

.ah {
    float: left;
    padding: 5px;
    text-decoration: none;
    color: gray;
}

ul li::marker {
    color:black
}

.headerl a:hover {
    color:#B30000;
}


.footerl {
   padding: 2px;
   float: none;
   color: blue;
   list-style-type: disc;
}

.copyright {
    text-align: center;
    margin-bottom: 0px;
}
td {
    margin: 3px;
    color: white;
    text-align: center;
}

.color {
    background-color: brown;
}

.rgb {
    background-color:rgb(105, 100, 155);
}

.hsl {
    background-color:hsl(128, 80%, 25%);
}

.rgba {
    background-color:rgb(255, 0, 90, 1)
}

.hex {
    background-color:#123456;
}

.hsla {
    background-color: hsla(50, 100%, 50%, 1);
}

.pbla {
    color:blue;
}

.poverline {
    text-decoration: overline;
}

.pstrikethrough {
    text-decoration: line-through;
}

.pavstand {
    letter-spacing: 3px;
}

.pcenter {
    text-align: center;
}

.pright {
    text-align: right;
}

.pshadow {
    text-shadow: 2px 2px;
}

.boxmodel {
    width: 300px;
}

.dmargin {
    border: 20px solid cyan;
    background-color: cyan;
    margin: 20px;
    text-align: center;
}

.dborder {
    border: 20px solid lime;
    background-color: lime;
    text-align: center;
}

.dpadding {
    background-color: violet;
    border: 20px solid violet;
    text-align: center;
}

.dcontent {
    text-align: center;
    padding: 20px;
    background-color: white;
}